<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<md-list cols="1" rowHeight="5em">
  <md-list-item>
    <md-input-container class="example-full-width">
      <input mdInput min="1" max="350000" type="number" [(ngModel)]="loadSize" placeholder="Load Size">
      <span mdSuffix>m3</span>
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-select placeholder="Station" [(ngModel)]="selectedStation" name="station">
      <md-option *ngFor="let station of stations" [value]="station">{{ station.Name }}</md-option>
    </md-select>
  </md-list-item>
  <md-list-item>
    <!--<md-checkbox [(ngModel)]="rush">Rush!</md-checkbox>
    &nbsp;-->
    <md-checkbox [(ngModel)]="packaged">Containers?</md-checkbox>
  </md-list-item>
  <md-list-item *ngIf="displayLightyears()">
    <md-input-container class="example-full-width">
      <input mdInput min="1" max="120" type="number" [(ngModel)]="lightyears" placeholder="Lightyears">
    </md-input-container>
  </md-list-item>
  <md-list-item *ngIf="desc()">
    <div>
      <label>Package Description: </label>
      <span>{{desc()}}</span>
    </div>
  </md-list-item>
  <md-list-item *ngIf="displayAmount()">
    <div>
      <label>Cost: </label>
      <span>{{amount() | number:'2.0-0'}}</span>
    </div>
  </md-list-item>
  <md-list-item *ngIf="errors()">
    <div class="alert alert-danger" role="alert">
      <span>{{errors()}}</span>
    </div>
  </md-list-item>
</md-list>