<h3>The Alliance Courier Service</h3>
<p>
  This service is provided by members of the alliance using thier jump freighters. It exists to allow you to easily move items back and forth from trade hubs safely.
</p>
<h3>Contracting</h3>
<p>
  You may want to create a character on your main account and keep it, with no skills, in a trade hub. You can then use this character to buy things from the market, and create contracts, as well as sell items you have shipped to the hubs. If it's on the same account, that character will cost you nothing at all, and will not need skill training. Another option is to fly to a trade hub in a shuttle to set them up, but survival of both your shuttle and your pod are not guarenteed.
</p>
<h3>Instructions</h3>
<md-list cols="1" rowHeight="5em">
  <md-list-item>
    Check the size of your items. Maximums:
      &ndash; 340,000m3 from Jita to Dudreda
      &ndash; 120,000m3 from Dudreda to Jita
  </md-list-item>
  <md-list-item>
    Create a private COURIER contract to the PANIC HAULAGE corporation.
  </md-list-item>
  <md-list-item>
    Set destination (either a trade hub or Dudreda VI - Moon 4 station).
  </md-list-item>
  <md-list-item>
    Set collateral to zero.
  </md-list-item>
</md-list>
<h3>Calculate the appropriate reward</h3>
<small>*If your contract contains unpackaged containers, unpackaged ships or another courier package, you MUST select the 'containers' option on the calculator, and paste the provided message into the contract details.*</small>
<md-list cols="1" rowHeight="5em">
  <md-list-item>
    <md-input-container class="example-full-width">
      <input mdInput min="1" max="350000" type="number" [(ngModel)]="loadSize" placeholder="Load Size">
      <span mdSuffix>m3</span>
    </md-input-container>
  </md-list-item>
  <md-list-item>
    <md-select placeholder="Station" [(ngModel)]="selectedStation" name="station">
      <md-option *ngFor="let station of stations" [value]="station">{{ station.Name }}</md-option>
    </md-select>
  </md-list-item>
  <md-list-item>
    <!--<md-checkbox [(ngModel)]="rush">Rush!</md-checkbox>
    &nbsp;-->
    <md-checkbox [(ngModel)]="packaged">Containers?</md-checkbox>
  </md-list-item>
  <md-list-item *ngIf="displayLightyears()">
    <md-input-container class="example-full-width">
      <input mdInput min="1" max="120" type="number" [(ngModel)]="lightyears" placeholder="Lightyears">
    </md-input-container>
  </md-list-item>
  <md-list-item *ngIf="desc()">
    <div>
      <label>Package Description: </label>
      <span>{{desc()}}</span>
    </div>
  </md-list-item>
  <md-list-item *ngIf="displayAmount()">
    <div>
      <label>Cost: </label>
      <span>{{amount() | number:'2.0-0'}}</span>
    </div>
  </md-list-item>
  <md-list-item *ngIf="errors()">
    <div class="alert alert-danger" role="alert">
      <span>{{errors()}}</span>
    </div>
  </md-list-item>
</md-list>
<p>
  If your contract has not arrived within 3 days, please hassle a director
</p>
<p>
  To volunteer as a corp hauler (jump freighter pilots only), please contact H0ang.
</p>